<div{{ attributes }}>
    <a href="{{ ux_table_sort_link(this.field, 'asc', false) }}">
        <div>{{ this.title }}</div>
        <div><i class="sort sort-{{ ux_table_sort_state(this.field) }}"></i></div>
    </a>
</div>
